<div class="min-h-[100dvh] bg-gray-100">

  <!-- Navbar -->
  <app-navbar
  [menuOpen]="sidebarOpen"
  (menuClicked)="toggleSidebar()"
></app-navbar>

  <!-- Mobile Overlay -->
  @if (sidebarOpen) {
    <div
      class="fixed inset-0 top-16 z-40 bg-black/40 lg:hidden"
      (click)="closeSidebar()"
    ></div>
  }

  <!-- Sidebar -->
  <app-sidebar [open]="sidebarOpen" (menuItemClicked)="closeSidebar()"></app-sidebar>

  <!-- Main Content -->
  <main
    class="min-h-[calc(100vh-4rem)]
           min-w-0
           pt-4
           lg:ml-64
           sm:pt-6
           lg:pt-8"
  >
    <div class="px-4 sm:px-6 lg:px-8">
      <router-outlet></router-outlet>
    </div>
  </main>

</div>